.side-bar
  - if user_signed_in?
    .group-search
      .group-search__text
        グループ一覧
      .group-search__btn
        =link_to new_group_path do
          ＋
    .group-box
      - current_user.groups.each do |group|
        .group-list
          = link_to group_messages_path(group) do
            .group-list__group-name
              = group.group_name
            .group-list__new-message
              = group.show_last_message
  - else
    .group-search
      .group-search__text
        グループ一覧
      .group-search__btn
