.header
  .header__box
    .logo
      =link_to "/" do
        .logo__img
    - if user_signed_in?
      .mypage-btn
        %a.btn.btn-primary.gtn-lg{href: "/users/edit", role:"button"} マイページへ
    - else
      .login-btns
        %a.btn.btn-primary.gtn-lg{href: "/users/sign_in", role:"button"} ログイン
        %a.btn.btn-primary.gtn-lg{href: "/users/sign_up", role:"button"} 新規登録 »
  %ul.contents
    %li.contents__link-btn
      =link_to "/groups" do
        試合/練習
    %li.contents__link-btn
      =link_to "/artcles" do
        トレーニング記事
    %li.contents__link-btn 
      =link_to "#" do
        近くのコート/ショップ
    %li.contents__link-btn
      =link_to "#" do
        ランキング