%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title ページタイトル
    / CSS
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet"}/
    / JS
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}

.header
  .header__box
    .logo
      =link_to "/" do
        .logo__img
    - if user_signed_in?
      .mypage-btn
        %a.btn.btn-primary.gtn-lg{href: "/users/edit", role:"button"} マイページへ
    - else
      .login-btns
        %a.btn.btn-primary.gtn-lg{href: "/users/sign_in", role:"button"} ログイン
        %a.btn.btn-primary.gtn-lg{href: "/users/sign_up", role:"button"} 新規登録 »
  %ul.contents
    %li.contents__link-btn
      =link_to "/messages" do
        試合/練習
    %li.contents__link-btn
      =link_to "/artcles" do
        トレーニング記事
    %li.contents__link-btn 
      =link_to "#" do
        近くのコート/ショップ
    %li.contents__link-btn
      =link_to "#" do
        ランキング