.header
  .header__box
    .logo 
      %span.logo--red C
      %p ross×
      %span.logo--red R
      %p alley
    .login-btns
      %a.btn.btn-primary.gtn-lg{href: "#", role:"button"} ログイン
      %a.btn.btn-primary.gtn-lg{href: "#", role:"button"} 新規登録 »
  %ul.contents
    %li.__link-btn 試合/練習
    %li.__link-btn トレーニング記事
    %li.__link-btn 近くのコート/ショップ
    %li.__link-btn ランキング