/ ヘッダー
= render "layouts/header"
/ トップページ全体
.wrapper__toppage
  / メイン画像
  .jumbotron.main-image
    .container
      %h1.main-image__text Let's Play Tennis!!
  / 3カラム
  .articles
    %h3.text-center.article-topic
      最新トレーニング記事
    .container
      .row.o-4column
        - @artcles.first(4).each do |artcle|
          = render "artcles", { artcle: artcle}
