.wrapper__toppage{
  .main-image{
    background:image-url("main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    background-size: cover;
    &__text{
      color: #FFFFFF;
      text-align: left;
    }
  }
  .article-box{
    height: 250px;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    &__title{
      writing-mode: vertical-rl;
      font-size: 24px;
      &__str{
      text-decoration: none;
      color: #FFFFFF;
      }
    }
    &__text{
      color:lightgray;
      font-size:8px;
    }
  }
  .article-topic{
    margin: 20px 0;
    font-size: 22px;
  }
}
