.schedule-list
  .schedule-list__date.shedule-list-cell
    2021年1月17日
    %br
    18:00〜
  .schedule-title-list__opponent.shedule-list-cell
    堕天使ヨハネ
  .schedule-title-list__place.shedule-list-cell
    魔界
  .schedule-title-list__deadline.shedule-list-cell
    2020年8月31日
  .schedule-title-list__btn.approve-btn
    承認する
