.schedule-title-list
  .schedule-title-list__date.shedule-list-cell
    対戦予定日
  .schedule-title-list__opponent.shedule-list-cell
    対戦相手
  .schedule-title-list__place.shedule-list-cell
    対戦場所
  .schedule-title-list__deadline.shedule-list-cell
    回答期限
  .schedule-title-list__btn.shedule-list-cell
    アクション
