@mixin search-box(){
  width: 500px;
    height: 100px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input{
      height: 40px;
      width: 250px;
      padding-left: 5px;
    }
    &__submit-btn{
      height: 40px;
      width: 80px;
    }
  }
$artcle_back_color: rgb(227, 227, 227);

.artcles-index__wrapper{
  display: flex;
  background: image-url("paper_00101.jpg");
  background-size: contain;
  flex-direction: column;
  align-items: center;
  .posting-box{
    font-size: 20px;
    margin: 20px 0;
    padding: 10px 10px;
    background-color: #3CCACE;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
  }

  .search-box{
    @include search-box
  }
  
  .artcle-contents{
    display: flex;
    .new-artcles-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75vw;
    }
    .popular-artcles-box{
      width: 250px;
      height: 600px;
      overflow: scroll;
      border: 1px solid black;
      background-color: $artcle_back_color;
      &__title{
        font-size: 22px;
        width: 100%;
        border-bottom: 1px solid black;
        text-align: center;
      }
      &__artcles{
        display: flex;
        flex-direction: column;
        .favo-rank{
          text-align: center;
          font-size: 22px;
          background-color: #fff;
          border-top: 1px solid #333;
          border-bottom: 1px dotted #333;
        }
        .favo-artcle{
          background-color: #fff;
          text-decoration: none;
          color: #333;
          padding: 0 5px;
          &__title{
            font-size: 18px;
          }
          &__nickname{
            font-size: 12px;
            text-align: end;
          }
          &__favo{
            font-size: 14px;
            text-align: end;
          }
          &__created_at{
            font-size: 8px;
            text-align: end;
          }
        }
      }
    }
  }
  .paginations{
    margin: 10px 0px;
    color: blue;
  }
}

.new-artcle{
  padding-top: 5px;
  border: 5px silver groove;
  background-color: $artcle_back_color;
  margin: 10px 5px 10px;
  overflow: scroll;
  &__title{
    font-size: 22px;
    text-decoration: none;
    margin-bottom: 3px;
  }
  &__user{
    font-size: 12px;
  }
  &__img{
    height: 300px;
    width: auto;
    max-width: 100%;
  }
  &__favo{
    text-align: end;
  }
  &__created_at{
    text-align: end;
    font-size: 12px;
  }
}

.artcle-new__wrapper{
  height: calc(100vh - 65px);
  width: 100vw;
  background: image-url("paper_00101.jpg");
  background-size: contain;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--headline{
    text-align: center;
    font-size: 24px;
    color: black;
    width: 200px;
    border-bottom: 2px solid #fff;
  }
  .post-artcle-box{
    .artcle-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      &__nickname{
        width: 250px;
      }
      &__image{
        width: 250px;
      }
      &__title{
        width: 250px;
      }
      &__text{
        width: 250px;
      }
    }
  }
}

.artcle-search-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  background: image-url("paper_00101.jpg");
  background-size: contain;
  &__title{
    margin-top: 20px;
    font-size: 24px;
  }
  .search-box{
    @include search-box
  }
}

.artcle-show__wrapper{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: image-url("paper_00101.jpg");
  background-size: contain;
  .artcle-container{
    background-color:$artcle_back_color;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 10px;
    border: 5px silver groove;
    .content-post{
      width: 90%;
      padding-top: 15px;
      &__user-box{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 20px;
        &__name{
          font-size: 18px;
        }
        &__created_at{
          font-size: 12px;
          color:rgb(126, 126, 126);
        }
      }
      &__img-box{
        &__image{
          width: 100%;
          height: auto;
        }
      }
      &__text-box{
        width: 100%;
      }
    }
    .artcle-btns{
      width: 100%;
      padding-right: 30px;
      .favorite-btns{
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
        i{
          text-decoration: none;
          color: lightpink;
        }
      }
      .btn-container{
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        &__edit-btn{

        }
        &__destroy-btn{
          margin: 0px 30px;
        }
      }
    }
  }
  .comment-container{
    width: 70%;
    margin: 20px 0;
    .comment-form{
      display: flex;
      justify-content: center;
      .textbox{
        width: 300px;
        height: 100px;
      }
      &__submit{
        float: right;
        width: 90px;
        height: 30px;
      }
    }
    .comments{
      width: 100%;
      a{
        color: black;
      }
      .comment-box{
        display: flex;
        flex-direction: row;
        width: 100%;
        border: 3px double gray;
        background-color: rgb(183, 255, 183);
        font-size: 16px;
        padding: 0 5px;
        &__user-name{
          margin-right: 5px;
        }
        &__comment{
          margin-left: 5px;
        }
      }
      .comment-created_at{
        font-size: 8px;
        padding-left: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.artcle-edit__wrapper{
  width: 100%;
  .edit-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    &__title{
      width: 300px;
      height: 30px;
      margin-bottom: 15px;
    }
    &__text{
      width: 300px;
      height: 100px;
      margin-bottom: 15px;
    }
    &__image{
      margin-bottom: 15px;
    }
    &__submit-btn{
      width: 60px;
      height: 30px;
      float: right;
    }
  }
}
.artcle-routes{
  width: 100%;
  margin: 15px 0 0 20px;
  padding-left: 20px;
  &__contents{
    display: flex;
    a{
      text-decoration: none;
      color: black;
    }
    &__home{
      margin: 0 15px;
    }
    &__artcle-index{
      margin: 0 15px;
    }
    &__artcle{
      margin: 0 15px;
    }
  }
}
