.wrapper__toppage{
  .main-image{
    background:url("/assets/main.jpg") center no-repeat;
    height: 300px;
    background-size: cover;
    &__text{
      color: #FFFFFF;
    }
  }

  .article-box{
    background:url("/assets/publicdomainq-0015394kfs.jpg") center no-repeat;
    height: 250px;
    display: flex;
    align-items: flex-end;
    &__title{
      writing-mode: vertical-rl;
      color: #FFFFFF;
    }
    &__text{
      color:lightgray;
      font-size:8px;
    }
  }
}