.maps-body{
  height: calc(100% - 108px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  .place-select{
    margin-bottom: 15px;
    &__box{
      width: 250px;
      height: 30px;
    }
  }
  .map-canvas{
    height: 95%;
    width: 85%;
    margin-bottom: 10px;
  }
}
